
.topBar_menu-link {
    cursor: pointer;
}

.link-item{
    padding: 1.2rem 25px 1.2rem 25px;
    transition: all 0.5s ease-out;
}

.active{
    background-color: #3e9ff9;
    color:white;
}
.active::after{
    position: absolute;
        bottom: -30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #3e9ff9 transparent transparent transparent;
}

@media screen and (max-width:1024px) {
    .active {
            background-color: transparent;
            color: rgb(24, 24, 24);
            
        }
    
        .active::after {
            position: relative;
            content: '';
            border: none;
        }
    .link-item {
        width: 100%;
        }
        .topBar_menu-link {
         width: 100%;
        padding: 5px 0;
        }
}
