/* #topBar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;
    display: flex;
    justify-content: center;
    width: 100%;
}
.topBar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar_menu-link{
    cursor: pointer;
    
} */
.topBar_menu-link {
    cursor: pointer;
}

.link-item{
    padding: 1rem 25px 1rem 25px;
    transition: all 0.5s ease-out;
}
.active  {
    border-bottom: 3px solid #022448;
}

@media screen and (max-width:760px) {
    .active{
        font-weight: bolder;
    }
    .link-item {
        width: 100%;
        }
        .topBar_menu-link {
         width: 100%;
        padding: 1px 0;
        }
}
